body {
    margin: 0;
}

body .v-toast__text {
    font-family: "Montserrat", serif;
}

body .v-toast__item--default {
    background-color: rgba(32, 32, 32, 0.9) !important;
    border-radius: 24px;
}